{
    "presets": [[
        "@babel/env",
    {
        "corejs": 3,
        "useBuiltIns": "usage", //core js use only polyfills, those useful in project. If setted to "entry" allow corejs import all polyfills for target browsers
        "debug": true, //detailed info about browsers
        "modules": false //"require" not allowed, only "import"
    }],
        "@babel/react"], 
    "plugins": ["@babel/proposal-class-properties"]
}

//npx babel src --out-dir build

/* "targets": [
    "last 2 chrome versions
    ]"*/