{
    "presets": [[
        "@babel/env",
    {
        "debug": true, //detailed info about browsers
    }]],
    "plugins": ["@babel/proposal-class-properties"]
}

//npx babel src --out-dir build

/* "targets": [
    "last 2 chrome versions
    ]"*/